body
{  background: radial-gradient(circle at center,rgb(66, 6, 66),black);}

h1
{color: white;font-size: 50px; font-family:sans-serif ; }

h2
{ color: aliceblue;}
h3
{ color: aliceblue;}

input[type=text],input[type=email],input[type=password]
{border-radius: 5px;backdrop-filter: blur(40px); }

/*
.signup-container
{ 
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.05);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  width: 300px;
  color: white;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);}
*/