body
{  background: radial-gradient(circle at center,rgb(66, 6, 66),black);}



h1
{color: white;font-size: 50px; font-family:sans-serif ; }

h2
{ color: aliceblue;}
h3
{ color: aliceblue;}

input[type=text],input[type=email],input[type=password]
{border-radius: 5px;backdrop-filter: blur(40px); }